<!-- CREDITS-->
<p><b>Source for viewport code snippet:</b> <a href="https://www.w3schools.com/css/css_rwd_viewport.asp" target="_blank">Link</a></p>

<p><b>Source for navigation bar idea:</b> <a href="https://www.w3schools.com/css/css_navbar.asp" target="_blank">Link</a></p>

<p><b>Source for table idea:</b> <a href="https://dev.to/drews256/ridiculously-easy-row-and-column-layouts-with-flexbox-1k01" target="_blank">Link</a></p>

<p><b>Source for drop down idea menu:</b> <a href="https://codersblock.com/blog/checkbox-trickery-with-css/" target="_blank">Link</a></p>

<p><b>Source for Prof img(1):</b> <a href="https://www.pexels.com/photo/a-happy-woman-in-a-black-blazer-and-eyeglasses-6981004/" target="_blank">Link</a></p>

<p><b>Source for Prof img(2):</b> <a href="https://www.pexels.com/photo/photo-of-man-discussing-on-white-board-6326377/" target="_blank">Link</a></p>

<p><b>Source for TA img:</b> <a href="https://assets7.lottiefiles.com/avatars/300_2146.jpg" target="_blank">Link</a></p>

<p><b>Source for background img:</b> <a href="https://www.toptal.com/designers/subtlepatterns/uploads/denim.png" target="_blank">Link</a></p>

<p><b>Source for down arrow img:</b> <a href="https://cdn1.iconfinder.com/data/icons/arrows-15/96/Arrow-Down2-512.png" target="_blank">Link</a></p>

<p><b>Institue Logo made using:</b> <a href="https://www.freelogodesign.org/" target="_blank">Link</a></p>

