<!DOCTYPE html>
<html>
<head>
	<!-- Make page view scale with screen-width of device-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Introduction to Web Development</title>
	<link rel="icon" href="../static/img/title_icon.png">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
	<!-- Check if there are any flased messages-->
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<!-- Loop through messages-->
			{% for message in messages %}
				<!-- Check if its a error message-->
				{% if session['pop_up'] and session['pop_up'] == 'error' %}
					<div class ="pop-up feedback-popup error">
				{% else %}
					<div class ="pop-up feedback-popup">
				{% endif %}
					<h5>{{ message }}</h5>
				</div>
			{% endfor %}
		{% endif %}
	{% endwith %}
	<!-- New Section of Page-->
	<div id="feedback-page">
		<div class="page-desc-text">
			<div class="border-design">
				<a class="info-text" href="/index">Back Home</a>
				<h2 class="page-header">Feedback</h2>
				<!-- Form to Send Feedback-->
				<form method="POST">
					<select name='instructor' class="feedback-form">
						<option disabled selected>Select your Instructor (Given by their name then username)</option>
						{% for name, username in session['instructor_info'].items() %}
							<option>{{ name }} | {{ username }}</option>
						{% endfor %}
					</select>
					<label> What do you like about the instructor teaching? </label>
					<textarea name='teaching_liking' class="feedback-form" rows="3" placeholder="Enter Discription"></textarea>
					<label> What do you recommend the instructor to do to improve their teaching? </label>
					<textarea name='teaching_improve' class="feedback-form" rows="3" placeholder="Enter Discription"></textarea>
					<label> What do you like about the labs? </label>
					<textarea name='lab_liking' class="feedback-form" rows="3" placeholder="Enter Discription"></textarea>
					<label> What do you recommend the lab instructors to do to improve their lab teaching? </label>
					<textarea name='lab_improve' class="feedback-form" rows="3" placeholder="Enter Discription"></textarea>
					<div class="btn">
						<button class="btn-submit" type="submit">submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
